container_commands:
  01_requirement:
    command: "pip install -r requirements/dev.txt"
    test: '[ "$DJANGO_SETTINGS_MODULE" = "settings.dev" ]'
  02_requirement_dev:
    command: "pip install -r requirements/production.txt"
    test: '[ "$DJANGO_SETTINGS_MODULE" = "settings.production" ]'
  03_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  04_migrate:
    command: "django-admin.py migrate"
    leader_only: true
commands:
  WSGIPassAuthorization:
    command: sed -i.bak '/WSGIScriptAlias/ a WSGIPassAuthorization On' config.py
    cwd: /opt/elasticbeanstalk/hooks
  01-install:
    command: "wget http://ffmpeg.gusari.org/static/64bit/ffmpeg.static.64bit.latest.tar.gz -O - | tar zxf - -C /usr/bin"
